body {
  background-color: #f8f9fa; /* Light grey background */
}

.card {
  border-radius: 10px;
  background-color: #ffffff;
}

h1 {
  font-size: 1.5rem;
  color: #343a40; /* Dark grey */
}

textarea {
  resize: none;
}

.form-select {
  height: auto;
}

pre {
  overflow: auto;
}
